.btn {
  //padding: 1rem 2rem;
  border: 1px solid #eee;
  border-radius: 10rem;
  //background: transparent;
  transition: all .2s ease-in;
  
  box-shadow: none;
  &:hover {
    background: black;
    color: white;
  }
  &:focus, &:active, &:active:focus {
      border: 1px solid transparent;
      outline: none;
      box-shadow: none;
  }
}
