footer.footer {

  padding: 1.5rem 0 1rem 0;
  text-align: center;
  //background-color: darken($primary-color-dark, 20%);
  background-color: #eee;

  margin-top: 5rem;
  bottom: 0;
  width: 100%;
  @include flexbox();
  @include align-self(flex-end); 
  position: absolute;
  bottom: 0;
  
  p {
      width: 100%;
  }
}
