.main-content {

    margin-bottom: 5rem;
    @include flexbox;
    @include flex-grow(1);
    @include flex-direction(column);

    background-color: white;
}
.content-container {
    border: 1px solid $color-grey;
    border-bottom: none;
    background-color: white;
    margin: 5rem 3rem;
    z-index: 2;
    position: relative;
    @include shadow-1;
    &-row {
        margin: 3rem 0;
    }
    overflow: hidden;
    @media only screen
    and (max-device-width: 768px)
    {
        margin: 0;
    }
}
.container-background {
    position: absolute;
    width: 100%;
    &.pattern {
        height: 40%;
    }
    -webkit-filter: brightness(.8);
    filter: brightness(.8);
    &:after {
      //  @include after;
        height: 100%;
        top: 0;
        left: 0;

    }
    @media only screen and (max-device-width: 768px)
    {
        height: 20rem;
    }

}
.content-main-heading {
    z-index: 2;
    position: relative;
    color: white;
    &.accent {
        color: $accent-color;
    }
    &.primary {
        color: $primary-color;
    }
    &.black {
        color: rgba(black, .6);
    }
}
