.schools {
}

.school {
  background-color: lighten($color-grey, 10%);
  padding: 1.5rem 1.5rem;
  margin: 2rem 0;

  &:first-child {
    margin-top: 0;
  }
  @media only screen
  and (max-device-width: 768px)
  {
    padding: 0;
  }
  //border-radius: 30rem;
  .school-address {
    margin: .5rem 0;

  }
  a {
    z-index: 3;
  }
  .school-name {
    margin-bottom: .6rem;
    padding-bottom: 1rem;
    position: relative;

    a {
      font-weight: 700;
      color: #000;
    }
    &:after {
      @include after();
      height: .1rem;
      bottom: 0;
      background-color: $color-grey;
      width: 5rem;
    }

  }
  .rating-score-text {
    font-size: 6rem;
    color: white;
    margin-top: -.8rem;
    display: inline-block;
    margin-right: 3rem;
    font-weight: 700;
    //padding: 1rem;
    text-align: center;
    position: relative;
    &:after {
      @include after();
      height: 9rem;
      width: 9rem;
      border: 5px solid rgba($color-grey, .6);
      border-radius: 30rem;
      background-color: transparent;
      left: -3rem;
      top: .3rem;

    }

  }

  transition: .3s all ease-out;
  //border: 1px solid $primary-color;
  &:hover {
    @include shadow-1;
    border-color: rgba($accent-color,.4);
  }
  .add-info {
    .icon {
      min-width: 2.5rem;

    }
  }

  @for $i from 0 to 5 {
    &.color-grade-#{$i} {
      background: linear-gradient(120deg, #fff 75%, nth($colors-grades, $i+1) 0%);
    }
  }

}
