@for $i from 0 to 5 {
  &.color-grade-#{$i} {
    color: nth($colors-grades, $i+1) !important;
  }
}
@for $i from 0 to 5 {
  &.bg-grade-#{$i} {
    background-color: nth($colors-grades, $i+1) !important;
  }
}
@for $i from 0 to 5 {
  &.border-grade-#{$i} {
    border-color: nth($colors-grades, $i+1) !important;
  }
}

@media only screen and (max-device-width: 768px)
{
  .mobile-no-padding {
    padding: 0;
  }
}