$font-family: "Raleway", sans-serif;


$html-font-size-lg: 16px;
$html-font-size-md: 15px;
$html-font-size-sm: 14px;
$html-font-size-xs: 13px;

$font-size-1: 1rem;
$font-size-2: 1.414rem;
$font-size-3: 1.999rem;
$font-size-4: 2.827rem;
$font-size-5: 3.998rem;

$primary-color-dark:   #1976D2;
$primary-color:        #2196F3;
$primary-color-light:  #BBDEFB;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF4081;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$color-grey: #EEEEEE;
